.arrow-down {
  width: 25px;
  height: 25px;
  position: absolute;
  top: 8px;
  transform: translateX(-130px);
  transition: transform 200ms ease-in-out;
}

.arrow-down[data-currentPlayer="2"] {
  transform: translateX(130px);
}
